*{
    padding: 0;
    margin:0 ;
    box-sizing: border-box;
    font-family: 'Poppins', sem serifa;

}
html{
    scroll-behavior:smooth;
}

header{
position: fixed;
right: 0;
top: 0;
z-index: 1000;
width: 100%;
display: flex;
align-items: center;
justify-content: space-between;
padding: 25px 15%;
background-color: #00000029;


}
header h1{
color: white;
font-family: 'Alata', sans-serif;
text-shadow: 1px 1px 2px black;
font-size: 35px;
}
header p{
    color: white;
    margin-left: -80px;
text-shadow: 1px 1px 2px black;
font-size: 16px;
}
header i{
    color: rgb(217, 208, 255);
    font-size: 35px;
    margin-left: 40px;
}
header span{
color: #9520fe;

}
header a{
    color: white;
    border-bottom: 2px solid transparent;
    transition: all .55s ease;
    text-decoration: none;
}
header a:hover{
border-bottom: 2px solid white;
}
body{
 background-image: linear-gradient(to top,#371764,#260f43) ;
background-attachment: fixed;

}
.lan {
  
    align-items: center;
    margin-top: 130px;
}
.lan h1{
    text-align: center;
    
    border-bottom:1px rgb(255, 255, 255) solid ;
    color: rgb(217, 208, 255);
    
}
.fil1{
    text-align: center;
    align-items: center;
}
.fil1 h2{
    border-bottom: 1px solid #9520fe;
    color: rgb(217, 208, 255);
    margin-top: 30px;
}
.fil1 iframe{
    margin-top: 20px;
    border: 1px solid #9520fe;
}


.fil2 {
    text-align: center;
    font-size: 10pt;
    color: white;
    border-bottom: 2px solid transparent;
    transition: all .55s ease;
    text-decoration: none;
    margin-top: 80px;
    margin-bottom: 50px;
}
.fil2 i{
    text-align: center;
    font-size: 30pt;
    color: white;
    text-decoration: none;
    margin-top: 30px;
}

.fil2 a{
    text-align: center;
    font-size: 25pt;
    color: rgb(217, 208, 255);
    border-bottom: 2px solid transparent;
    transition: all .55s ease;
    text-decoration: none;
    
    }
    .fil2 a:hover{
border-bottom: 2px solid rgb(217, 208, 255);
      }
    .fil2 iframe{
    margin-top: 20px;
    border: 1px solid #9520fe;
    }
     
    .log {
        font-family: 'Poppins', sem serifa; 
        text-align: center;
        font-size: 12pt;
        color: white;
        text-decoration: none;
        margin-top: 100px;
       border-top:1px white solid ;
        }
        .log p{
            margin-top: 5px;
        }
        .log i{
            font-size: 20pt;
            margin-left: 15px;
        }